@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

/* Grid areas del body */
header {
  grid-area: cabecera; }

main {
  grid-area: principal; }

footer {
  grid-area: pie; }

/* Grid areas del Nav */
.homeNav {
  grid-area: casa; }

.enlacesNav {
  grid-area: enlaces; }

.search {
  grid-area: busqueda; }

/* Grid areas del Footer */
.info {
  grid-area: info; }

.contacto {
  grid-area: contacto; }

.copyright {
  grid-area: derechos; }

/* Display del body */
body {
  display: grid;
  grid-template-areas: "cabecera" "principal" "pie";
  grid-template-rows: auto auto auto;
  background-color: #c8d8e4; }

header {
  background-color: #52ab98;
  z-index: 1; }

footer {
  background-color: #2b6777; }

/* Anulo el padding y el margin de Bootstrap para que no rompa el nav */
ul {
  padding-left: 0px;
  margin: 0px; }

/* Alinea el contenido del main en el medio */
main {
  text-align: center; }

/* Se acomoda el icono de home */
.homeNav {
  text-align: center;
  vertical-align: auto;
  /* Tamaño de la imagen del home */ }
  .homeNav img {
    width: 100px; }

/* Se acomoda los enlaces a las paginas */
.enlacesNav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* Estilo del nav para que se vea como un boton de enlace */ }
  .enlacesNav a {
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    display: block;
    background-color: #52ab98;
    color: #ffffff;
    /* Animacion de los botones cuando se pasa el mouse */ }
    .enlacesNav a:hover {
      background-color: #2b6777;
      color: #f2f2f2; }

/* Estilo de las listas dentro del nav */
.navegacion ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  /* Para que el submenu tome como referencia el menu */ }
  .navegacion ul li {
    position: relative;
    /* Para ocultar los sub-menus */
    /* Aparecen los submenus al pasar el mouse para un item de la lista */ }
    .navegacion ul li ul {
      display: none;
      min-width: 90px;
      /* Acomoda el sub menu a la derecha */ }
      .navegacion ul li ul li ul {
        left: 119px;
        top: 0px; }
    .navegacion ul li:hover > ul {
      display: block;
      position: absolute; }

/* Estetica del texto */
.faq {
  text-align: center;
  background-image: url(../assets/Images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: azure; }

/* Se acomodan los elementos del footer */
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  .info ul {
    list-style-type: none; }
    .info ul li h4 {
      margin-top: 5px;
      margin-bottom: 30px; }
    .info ul li a {
      text-decoration: none;
      color: #ffffff; }
      .info ul li a:hover {
        text-decoration: underline; }
  .info .iconosFoot img {
    margin-top: 10px;
    width: 40px;
    padding: 5px;
    margin-bottom: 10px; }

/* Transformacion que agranda las imagens de los productos */
.animacion img:hover {
  transform: scale(1.1, 1.1); }

/*-------------------------------
            PRODUCTOS
-------------------------------*/
/* Disposicion de los productos */
.filtrosProductos {
  display: flex;
  flex-direction: row; }

/*-------------------------------
            CONTACTO
-------------------------------*/
/* Distribucion de espacios entre el texto, mapa y el formulario */
.paginaContacto {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: center; }
  .paginaContacto div p {
    text-align: start; }
  .paginaContacto form {
    width: 80%; }

/* DESKTOP */
@media (min-width: 1024px) {
  /* Display del nav */
  .navegacion {
    display: grid;
    grid-template-areas: "casa none busqueda" "casa enlaces enlaces";
    grid-template-rows: auto auto;
    grid-template-columns: 15% 60% 25%; }
  /* Disposicion del Footer con Grids */
  footer {
    display: grid;
    grid-template-areas: "info contacto" "derechos derechos";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr; }
    footer .copyright {
      text-align: center; } }

/* TABLET */
@media (min-width: 481px) and (max-width: 1023px) {
  /* Grid del Nav en Tablet */
  .navegacion {
    display: grid;
    grid-template-areas: "casa enlaces enlaces";
    grid-template-rows: auto;
    grid-template-columns: 15% 60% 25%;
    /* Acomoda el icono del home */
    /* Disposicion del Nav */
    /* Oculta la barra de busqueda */ }
    .navegacion .homeNav {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .navegacion .enlacesNav {
      background-color: #52ab98;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; }
    .navegacion .search {
      display: none; }
  /* Disposicion del Footer con Grids */
  footer {
    display: grid;
    grid-template-areas: "info contacto" "derechos derechos";
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 1fr); }
    footer .copyright {
      text-align: center; }
  /* Acomoda los filtros de los productos en columna */
  .filtrosProductos {
    display: flex;
    flex-direction: column; }
  /* Acomoda la pagina de contacto en una columna */
  .paginaContacto {
    display: grid;
    grid-template-columns: 1fr; } }

/* SMARTPHONE */
@media (max-width: 480px) {
  /* Grid del Nav en Phone */
  .navegacion {
    display: grid;
    grid-template-areas: "casa" "enlaces";
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    /* Oculta la barra de busqueda */ }
    .navegacion .search {
      display: none; }
  /* Disposicion del Footer con Grids */
  footer {
    display: grid;
    grid-template-areas: "info" "contacto" "derechos";
    grid-template-rows: auto auto;
    grid-template-columns: 1fr; }
    footer .copyright {
      text-align: center; }
  /* Acomoda los filtros de los productos en columna */
  .filtrosProductos {
    display: flex;
    flex-direction: column; }
  /* Acomoda la pagina de contacto en una columna */
  .paginaContacto {
    display: grid;
    grid-template-columns: 1fr; } }
