// Mapa para realizar el reset
$reset: (
    relleno: 0px,
    margen: 0px,
    tamaño_caja: border-box,
);

* {
    padding: map-get($reset, relleno);
    margin: map-get($reset, margen);
    box-sizing: map-get($reset, tamaño_caja);
    font-family: Arial, Helvetica, sans-serif;
}